body {
  background-color: #000000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(135deg, #000, #0c0b9e);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

header h1 {
  font-size: 50px;
  margin: 0;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 2px 2px 10px #faffff;
}

header p {
  font-size: 18px;
  margin-top: 10px;
  color: #ffffff;
}

.btn {
  background: #4444f5;
  border: none;
  color: #000;
  padding: 12px 25px;
  margin: 15px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  list-style: none;
  text-decoration: none;
}

.btn:hover {
  background: #ffffff;
  color: #0c0b9e;
  transform: scale(1.05);
}

section {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

section h2 {
  color: #0c0b9e;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

section p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}


body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin-right: 20px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #0c0b9e;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #0c0b9e;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;
}

.social-icon:hover {
  color: #0c0b9e;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-bottom p {
  color: #bbb;
}

.footer-bottom p a {
  color: #0c0b9e;
  text-decoration: none;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer input[type="email"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #0c0b9e;
  background-color: #fff;
  color: #000;
}

footer button {
  padding: 8px;
  background-color: #0c0b9e;
  border: none;
  color: #fff;
  cursor: pointer;
}

footer button:hover {
  background-color: #0c0b9e;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}